<style>
		.gpt-ad-slot {
			margin: auto;
			max-width: 970px;
			text-align: center;
			display: none;
		}

		.gpt-ad-slot-full {
			display: block;
		}

		#div-gpt-ad-realfood-hero-2.gpt-ad-slot-full {
			padding: 12px
		}

		.gpt-ad-slot-brand {
			max-width: 918px;
			/*max-height: 110px;*/
		}

		.gpt-ad-slot-brand iframe,
		.gpt-ad-slot-trade iframe {
			/*height: 110px;*/
		}

		@media only screen and (max-width: 553px) {
			.gpt-ad-slot-trade.gpt-ad-slot-mpu-yes iframe {
				/*height: 258px;*/
				/*max-height:258px;*/
			}
		}

		@media only screen and (max-width: 440px) {
			.gpt-ad-slot-brand.gpt-ad-slot-mpu-yes,
			.gpt-ad-slot-brand.gpt-ad-slot-mpu-yes iframe {
				/*height: 258px;*/
				/*max-height:258px;*/
			}
		}

		@media only screen and (min-width: 768px) and (max-width: 962px) {
			.section-popular-recipes .container .grid-8.has-mpu {
				width: 58.33%
			}
		}
    </style>





