* {
   margin:0;
   padding: 0;;
}
.popularIngs {
   
  margin-left: auto;
  margin-right: auto;
  border-spacing: 20px;
  border-collapse: separate;
}
/*  
article {
  display: flex;
  flex-direction: row;
 
  
  
}
 


.recipeCard {
  display: flex;
  flex-direction: row; 
  padding: 2rem;
  margin: 1 1rem;
  width: 18 rem;
  box-shadow: 0 4px 8px 2px rgb(77, 77, 77);
} 
 */


