* {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Roboto",sans-serif;
    background-attachment: #f3f3f3;
}

.App {
    display: flex;
    align-items: center;
    flex-direction:column
}

section {
    margin: 2rem 0 1rem 0;
}

.controls {
    display: flex;
    align-items: center;
    flex-direction: column;

}

input {
    text-align: center;
    padding: 0.5rem;
    margin-bottom: 1 rem;
}

button {
    padding: 0.5rem 1 rem;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;


}

button:hover {
    cursor:pointer;
    

}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align:center;
    margin-bottom:2rem;


}

.nurtients ul {
    display: flex;
    width:35rem;
    justify-content: space-evenly;
}

ul {
    list-style: none;
}

.meals {
    display: flex;
}

img {
    width:100%;
    margin-bottom: 1 rem;

 }

 article {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    margin: 0 1rem;
    max-width: 18 rem;
    box-shadow: 0 4px 8px 2px rgb(77, 77, 77);
 }

 .instructions {
    margin-top: 1rem;
    font-size:0.9rem;
    margin-bottom:1 rem; 

 }

 a {
    text-decoration: none;
    width:fit-content;
    padding: 0.5rem 1 rem; 

 }

 @media only screen and (max-width:550px) {
    .meals {
        flex-direction: column;
        align-items: center;
    }

    .nurtients ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100px;
    }
 }

 